<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="../static/quiz.css">
</head>
<body>
    <div id="form-cau-hoi">
        <h1>Chào mừng bạn đến web quiz!</h1>
        <div style="display: flex; align-items: center; justify-content: space-between;">
            <form action="/tlch">
                <button type="submit">Trả lời câu hỏi</button>
            </form>
            <form action="/tch">
                <button type="submit">Thêm câu hỏi</button>
            </form>
        </div>
    </div>
</body>
</html>