<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>
    <form action="/login" method="POST" id="form-cau-hoi">
        <h1>Khảo sát người dùng</h1>
        <h3>Bạn tên là gì?</h3>
        <input type="text" name="ten" id="ten" placeholder="Nhập tên của bạn">
        <h3>Bạn bao nhiêu tuổi?</h3>
        <input type="text" name="tuoi" id="tuoi" placeholder="Nhập tuổi của bạn">
        <h3>Bạn quê ở đâu?</h3>
        <input type="text" name="que" id="que" placeholder="Nhập quê của bạn">
        <div class="form-row">
            <h3>Hiện tại bạn là?</h3> 
            <div class="radio-group">
                <input type="radio" name="congviec" value="Học sinh">Học sinh
                <input type="radio" name="congviec" value="Sinh viên">Sinh viên
                <input type="radio" name="congviec" value="Đang đi làm">Đang đi làm
            </div>
        </div>
        <div class="form-row">
            <h3>Đánh giá từ 1-5, bạn nghĩ tôi ở mức mấy?</h3>
            <input type="number" name="diem" id="diem" min="1" max="5" step="1" value="1">
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>